* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.child-section {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 12px;
}

input {
    margin-left: 10px;
    padding: 6px 30px 6px 12px;
    border-radius: 10px;
}

.input-section {
    display: flex;
    /* align-items: center; */
    justify-content: left;
    padding: 6px 0px 6px 0px;
}

.buttoon-section {
    display: flex;
    /* align-items: center; */
    justify-content: left;
    margin-left: 160px;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px 10px 900px;
    background-color: aliceblue;
}

.navbar>img {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 22px;
    height: 55px;
    width: 130px;
    position: absolute;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    /* position: fixed; */
    left: 22px;
    /* margin-top: 22px; */
    font-size: 45px;
}

.todobutton{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
}
.btn0 {
    border: none;
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: yellow;
    font-weight: 200;
}

.btn0:hover {
    background-color: gray;
    color: yellow;
    font-weight: 400;
}

.child-container {
    display: list-item;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.child-container>h3 {
    font-size: 35px;
    /* color:red ; */
}

h3>span {
    color: darkslateblue;
}

.child-container>button {
    height: 35px;
    width: 60px;
    margin-top: 12px;
    border-radius: 40px;
    border: 1px solid red;
    color: blueviolet;
    cursor: pointer;
    font-weight: 600;
}

.child-container>button:hover {
    background-color: yellow;
}