* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./register.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
.register-section{
    margin-top: 90px;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    background-color: rgb(151, 209, 209);
    border-radius: 6px;
    height: 40px;
    margin-left: 10px;
}
button{
    margin-left: 10px;
}
.login-section{
text-align: center;
}